.coverage
.mypy_cache/
.pytest_cache/
.cache/


dist/

build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt

__pycache__/
*.py[cod]
*.so
*.dylib
*.egg-info/

# Local virtual environments
.venv/
venv/

# Ninja / CMake logs
rules.ninja
.ninja_log
.ninja_deps
